<!DOCTYPE html>
<html>
  <head>
    <title>LunchAcademy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js" rel="scripts">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand lunch-brand" href="#">LUNCH ACADEMY</a>
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            Logged in as <strong> <%= current_user.email %> </strong>
          </li>
          <li class="nav-item">
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
          </li>
        <% end %>
      </ul>
    </nav>

    <% if notice %>
      <p class="alert alert-success"> <%= notice %> </p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"> <%= alert %> </p>
    <% end %>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
